/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-grey: #eeeeee;
  --basic-red: #fb565a;
  --basic-background: #888888;
  --basic-green: #00ca74;
  --basic-yellow: #efc849;
  --basic-special: #e74246;
  --basic-grey-text: #666666;
}

/* Text */

/* Global */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page .main-header {
  background-color: var(--basic-white);
}

.inner-page {
  color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
}

.site-navigation a,
.basket a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket a:hover,
.basket a:focus {
  color: var(--basic-red);
}

/* Services*/

.services-list {
  list-style: none;
}

.services-item {
  text-align: center;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
}

/* Button*/

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--basic-special);
}

/* Contacts*/

.contacts-phone {
  color: var(--basic-grey-text);
}

/* Footer */
.main-footer {
  background-color: var(--basic-white);
}

.page-title {
  font-size: 55px;
  line-height: 55px;
}

.hidden {
  visibility: hidden;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 19px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-black);
}

.catalog-list {
  list-style: none;
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #dfdfdf;
}

a.sort-item:hover,
a.sort-item:focus,
a.sort-item:active {
  color: var(--basic-grey-text);
}

/* Sort */

a.sort-item {
  color: var(--basic-grey);
}

/* a.sort-item-button:hover,
a.sort-item-button:focus,
a.sort-item-button:active {
  color: var(--basic-grey-text);
}

a.sort-item-button {
  color: var(--basic-grey);
} */
