/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --background-header: #eeeeee;
  --background-page: #ffffff;
  --background-button: #fb565a;
  --background-button-hover: #e74246;
  --background-button-click: #d7373b;
  --button-green: #00ca74;
  --button-green-hover: #00bc6c;
  --button-green-click: #00aa62;
  --button-yellow: #efc84a;
  --button-yellow-hover: #eab534;
  --button-yellow-click: #e5a722;
  --pagination-button: #eeeeee;
  --pagination-button-hover: #dfdfdf;
  --pagination-button-click: #d5d5d5;
}

/* Text */
:root {
  --color-text-basic: #000000;
  --nav-hover-color: #fb565a;
  --color-button-text: #ffffff;
  --text-contacts: #666666;
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-text-basic);
  background-color: var(--background-page);
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Button*/

.button {
  font: inherit;
  text-align: center;
  color: var(--color-button-text);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--background-button);
  border: none;
  border-radius: 3px;
  outline: none;
}

.inner-page .main-header {
  background-color: var(--background-page);
}

.inner-page {
  color: var(--background-page);
}

a {
  text-decoration: none;
}

/* Grid */

img {
  max-width: 100%;
  height: auto;
}

/* Main header */

.main-header {
  /* outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */
}

a.main-header-logo {
  /* outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px; */
  justify-self: start;
}

a.main-header-logo:hover {
  opacity: 0.7;
}

a.main-header-logo:active {
  opacity: 0.3;
}

.main-header-bar {
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--color-text-basic);
  background-color: var(--background-header);
  display: grid;
}

.main-navigation-wrapper {
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex: wrap;
  justify-content: space-between;
  align-items: center;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  /* outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px; */
  width: 435px;
  color: var(--color-text-basic);
}

/* .site-navigation-item:not(:last-child) {
  margin-right: 45px;
} */

.site-navigation-item-active {
  border-bottom: 2px solid red;
}

.user-busket {
  /* outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px; */
  max-width: 114px;
}

.site-navigation a,
.user-busket a {
  color: var(--color-text-basic);
  display: block;
  padding: 15px 10px;
}

.user-busket .basket {
  padding-left: 50px;
  position: relative;
}

.basket::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 24px;
  width: 15px;
  height: 15px;
  background-image: url("../img/busket-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a:hover,
a.basket:hover {
  color: var(--nav-hover-color);
}

.site-navigation a:focus,
a.basket:focus {
  opacity: 0.3;
}

.site-navigation a:active,
a.basket:active {
  color: var(--color-text-basic);
}

/* Container */

.container {
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Features */
.features {
  background-color: var(--background-header);
  margin-bottom: 80px;
}

.features-slides {
  /* outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px; */
}

.feature-item {
  font-size: 55px;
  line-height: 55px;
  margin-top: 78px;
  margin-bottom: 25px;
}

.features.slide1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.benefits-item {
  margin-bottom: 38px;
  font-weight: 400;
}

.block1-slide {
  /* outline: 5px solid rgba(194, 255, 97, 0.3);
  outline-offset: -5px; */
}

.slide1-image {
  margin-top: 9px;
}

.features.slide2,
.features.slide3 {
  display: none;
}

a.more {
  padding: 17px 54px 15px 54px;
}

a.more:hover {
  background-color: var(--background-button-hover);
}

a.more:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

/* Services*/

.services {
  /* outline: 5px solid rgba(255, 0, 0, 0.3); */
  padding-bottom: 80px;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  background-image: url("img/line.png");
}

.services-item {
  text-align: center;
  /* outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px; */
}

.services-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.services-item p {
}

.services-image {
  margin-bottom: 25px;
}

.services-title {
  margin: 0;
}

.services-text {
  margin-bottom: 32px;
  font-weight: 400;
  text-align: left;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
}

button.button-services {
  padding: 17px 40px 15px 39px;
}

button.button-website:hover {
  background-color: var(--background-button-hover);
}

button.button-website:active {
  background: #d7373b;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

button.button-application {
  background: var(--button-green);
}

button.button-application:hover {
  background: var(--button-green-hover);
}

button.button-application:active {
  background: var(--button-green-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

button.button-presentation {
  background: var(--button-yellow);
}

button.button-presentation:hover {
  background: var(--button-yellow-hover);
}

button.button-presentation:active {
  background: var(--button-yellow-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

hr {
  display: block;
  unicode-bidi: isolate;
  width: 1158px;
  height: 2px;
  overflow: hidden;
  border-style: inset;
  border: none;
  background: #eeeeee;
  margin: 0 auto;
}

/* About-us */

.about-us {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 73px;
  padding-bottom: 73px;
}

.about-us-title {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 45px;
}

.about-us-text {
  margin-bottom: 40px;
  font-weight: 400;
}

.about-us-list {
  list-style: none;
  font-weight: 400;
}

.about-us-item:not(:last-child) {
  margin-bottom: 24px;
}

.about-us-item {
  position: relative;
}

.about-us-item:before {
  content: " ";
  width: 25px;
  height: 2px;
  background: #fb565a;
  position: absolute;
  left: -40px;
  bottom: 10px;
}

p.about-us-content {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 23px;
}

.about-us-stats {
  display: grid;
}

.benefit-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 0;
  margin: 0;
}

.nerds-illustration {
  padding-bottom: 37px;
}

.benefit-number {
  font-size: 45px;
  line-height: 64px;
  margin: 0;
}

.about-us-benefit {
  text-transform: uppercase;
  padding-bottom: 31px;
}

.percent {
  font-size: 26px;
  line-height: 40px;
  position: relative;
  top: -15px;
}

/* Clients */
.clients {
}

.hr-vertical {
  width: 2px;
  height: 52px;
  background: #eeeeee;
  margin: 0;
}

.clients-item {
  padding: 0;
}

.clients-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  min-height: 180px;
  align-items: center;
}

.logo-HTML {
  padding-right: 48px;
}

.logo-barber {
  padding-right: 44px;
  padding-left: 45px;
}

.logo-pink {
  padding-right: 58px;
  padding-left: 55px;
}

.logo-mishka {
  padding-left: 63px;
}

a.clients-logo {
  opacity: 0.2;
}

a.clients-logo:hover {
  opacity: 1;
}

a.clients-logo:active {
  opacity: 0.1;
}

/* Main-Footer */
.main-footer {
  background-color: var(--background-page);
  /* outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px; */
  padding-top: 80px;
  color: var(--color-text-basic);
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.map {
  /* outline: 5px solid rgba(219, 243, 113, 0.7);
  outline-offset: -5px; */
  padding-bottom: 75px;
  position: relative;
}

.map-marker-image {
  position: absolute;
  top: 10px;
  left: 1000px;
}

.footer-form {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: white;
  padding: 49px 39px 47px 50px;
}

/* Contacts*/

.contacts-list {
  display: flex;
  gap: 9px;
  list-style: none;
  padding-right: 139px;
}

.contacts-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
}

.contacts {
  /* outline: 5px solid rgba(31, 7, 248, 0.7);
  outline-offset: -5px; */
  display: flex;
  gap: 139px;
  margin: 0;
  width: 261px;
}

.contacts-phone {
  color: var(--text-contacts);
}

.contacts-button {
  padding: 17px 44px 15px 44px;
}

.contacts-button:hover {
  background-color: var(--background-button-hover);
}

.contacts-button:active {
  background-color: var(--background-button-click);
}

.social-button {
  width: 81px;
  height: 81px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
  position: relative;
}

.social-button:hover {
  background: linear-gradient(0deg, #e74246, #e74246), #ffffff;
}

.social-button:active {
  background: linear-gradient(0deg, #d7373b, #d7373b), #ffffff;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.footer-text {
  width: 660px;
  line-height: 24px;
  font-weight: 400;
}

.footer-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
}

/* outline: 5px solid rgba(243, 113, 215, 0.7);
  outline-offset: -5px; */

.form {
  display: none;
}

/* Page-2: Catalog */

.page-catalog {
  /* outline: 5px solid rgba(92, 255, 133, 0.7);
  outline-offset: -5px; */
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.page-title {
  text-align: center;
  background-color: var(--background-header);
}

.page-title {
  margin: 0;
  padding-bottom: 108px;
  padding-top: 72px;
  font-size: 55px;
  line-height: 55px;
  color: var(--color-text-basic);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Filter */

.filters {
  /* outline: 5px solid rgba(247, 102, 44, 0.7);
  outline-offset: -5px; */
  grid-column: 1 / 2;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  color: var(--color-text-basic);
  margin-bottom: 16px;
}

.filter ul {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-text-basic);
  padding: 0;
  margin: 0;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--color-text-basic);
}

.filters fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 47px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 47px;
}

.button-filter {
  width: 260px;
  height: 50px;
  background-color: var(--pagination-button);
  color: var(--color-text-basic);
}

.button-filter:hover {
  background-color: var(--pagination-button-hover);
}

.button-filter:active,
.button-filter:focus {
  background-color: var(--pagination-button-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

/* Catalog */

.catalog {
  /* outline: 5px solid rgba(105, 44, 247, 0.7);
  outline-offset: -5px; */
  grid-column: 2 / -1;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  list-style: none;
}

.catalog-items {
  width: 358px;
  min-height: 578px;
  margin-right: 41px;
  margin-bottom: 31px;
}

/* Form */

.form-title {
  color: var(--color-text-basic);
  font-size: 18px;
  line-height: 30px;
}

.form-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--text-contacts);
}

.form-about {
  display: none;
}

/* Pagination */

.pagination-list {
  list-style: none;
  display: flex;
  justify-content: start;
  column-gap: 11px;
}

a.pagination-items {
  color: var(--color-text-basic);
  background-color: var(--pagination-button);
  border-radius: 3px;
  width: 50px;
  height: 50px;
}

a.pagination-items:hover {
  background-color: var(--pagination-button-hover);
}

li.pagination-item:focus,
li.pagination-item:active {
  background-color: var(--pagination-button-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Sort */

.page-catalog .sort {
  /* outline: 5px solid rgba(227, 247, 44, 0.7);
  outline-offset: -5px; */
  display: flex;
  justify-content: space-around;
  margin-bottom: 48px;
  column-gap: 25px;
}

.sort-title {
  color: var(--color-text-basic);
  padding-right: 266px;
}

a.sort-item {
  color: var(--color-text-basic);
  opacity: 0.3;
}

a.sort-item:hover {
  color: var(--color-text-basic);
  opacity: 0.6;
}

a.sort-item:focus,
a.sort-item:active {
  color: var(--color-text-basic);
}

a.sort-item-image:focus {
  color: var(--color-text-basic);
}
